body {
    --cf-accent: #4e28bf;
    --cf-background: #d4d2f5;
    --cf-serif: 'Playfair Display', 'Georgia', serif;
    --cf-black: #333;
}

nav {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    padding: 4px;
    background: var(--cf-background);
    border-bottom: 4px solid var(--cf-black);
}

p {
    max-width: 700px;
}

li a,
p a {
    text-decoration: underline;
    cursor: pointer;
}

.serif,
h1,
h2,
h3,
q {
    font-family: var(--cf-serif);
    font-weight: bold;
}

section {
    overflow: hidden;
}

section h1 {
    position: relative;
    font-size: 2em;
}

section h2 {
    position: relative;
    font-size: 2em;
}

section a:hover h2 {
    text-decoration: underline;
}

section h3 {
    font-size: 1.4em;
    color: var(--cf-accent);
}

section p {
    margin-bottom: 16px;
}

.overlay {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

img,
.highlight {
    max-width: calc(100% - 8px);
    border-radius: 4px;
    border: 3px solid var(--cf-black);
    box-shadow:
        6px 6px 0 -3px #555,
        6px 6px 0 0 var(--cf-black);
}

img {
    filter: grayscale(50%);
    max-height: 360px;
}

blockquote {
    margin: 0;
    font-size: 1.4em;
    font-family: var(--cf-serif);
    color: var(--cf-accent);
    padding-left: 24px;
    box-sizing: border-box;
}

ul {
  list-style-type: square;
  list-style-image: none;

}

ul li,
ol li {
    line-height: 1.5em;
}

li ul,
li ol {
  margin: 0 0 0 1.5em;
}

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-roman; }
ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol { list-style-type: lower-greek; }

ul.document {
  list-style-type: none;
  list-style-image: none;
  margin: 0 0 1em 0;
}

li.document-downloads {
  margin: 0.5em 0 0 0;
}

/*------------------------------------------*/
/* Archive                                  */
/*------------------------------------------*/

dl {
  margin-bottom: 1em;
}

dt.article-date {
  font-weight: bold;
  margin-top: 0.5em;
}

dd.article-title {
  margin-left: 1.5em;
  line-height: 1.5em;
}

/*----------------------------*/
/* Icons                      */
/*----------------------------*/

.mediafile {
  background: transparent url(../images/fileicons/file.png) 0px 1px no-repeat; 
  padding-left: 18px; 
  padding-bottom: 1px;
}

.gz { 
  background-image: url(../images/fileicons/gz.png);
}

.pdf { 
  background-image: url(../images/fileicons/pdf.png);
}

/*----------------------------*/
/* Code                      */
/*----------------------------*/

.highlight {
    overflow: visible;
    padding: 12px 8px 12px 16px;
    margin-bottom: 16px;
    /* for positioning the "try it" button */
    position: relative;
}


h1 > code,
h2 > code,
h3 > code,
h4 > code,
p > code,
li > code {
    font-family: 'Menlo', 'Monaco', monospace;
    background: #eaeaea;
    border-radius: 3px;
    padding: 3px 5px 3px 5px;
    font-size: 1em;
}

.button {
    text-decoration: none;
}


/*
  Mobile
*/
@media only screen and (max-width: 780px) {
 
  /* Turn the absolute width into a percentage at this point. */
  .overlay {
    width: 95%;
    margin: 0 auto;
  }
  
  .logo {
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
  }
  
  header nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  header > .button {
    width: 100%;
  }
  
  /* 
    The blog archive looks crap on small devices, so let's
    display the information centered without floating.
  */
  h2.article-year {
    text-align: center;
  }
  
  dt.article-date {
    text-align: center;
  }

  dd.article-title {
    margin-left: 0;
    text-align: center;
  }
}
