## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks
##
## Make sure nobody gets the htaccess files:
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
##
## Set the 404 page:
ErrorDocument 404                   /404.html
##
## We want to rewrite, so all http:// traffic is directed to https://
RewriteEngine on

## Make sure we redirect all HTTP Traffic to HTTPS with a 301 Redirect,
## so Disable the Rewrite for HTTPS and rewrite all other incoming 
## requests:
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://www.%1%{REQUEST_URI} [L,NE,R=301]


## I want my pages to be reachable by https://www.bytefish.de again and I want the 
## pages as simple .html pages, and not deal with redirects and canonical URLs in 
## Googles Tools anymore.
##
## I will add permanent redirects for the obsolete URLs.
##
RedirectMatch 301 ^/about/?$ https://www.bytefish.de/about.html
RedirectMatch 301 ^/android/?$ https://www.bytefish.de/android.html
RedirectMatch 301 ^/documents/?$ https://www.bytefish.de/documents.html
RedirectMatch 301 ^/research/?$ https://www.bytefish.de/research.html
RedirectMatch 301 ^/pages/?$ https://www.bytefish.de/pages.html
RedirectMatch 301 ^/blog/mapboxtileserver_kml/?$ https://www.bytefish.de/blog/mapboxtileserver_kml.html
RedirectMatch 301 ^/blog/mapbox_gl_js_with_vue/?$ https://www.bytefish.de/blog/mapbox_gl_js_with_vue.html
RedirectMatch 301 ^/blog/aspnetcore_static_files_cors/?$ https://www.bytefish.de/blog/aspnetcore_static_files_cors.html
RedirectMatch 301 ^/blog/mapboxtileserver_geocoding/?$ https://www.bytefish.de/blog/mapboxtileserver_geocoding.html
RedirectMatch 301 ^/blog/mapboxtileserver_csharp/?$ https://www.bytefish.de/blog/mapboxtileserver_csharp.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy_entity_listeners/?$ https://www.bytefish.de/blog/spring_boot_multitenancy_entity_listeners.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy_using_rls/?$ https://www.bytefish.de/blog/spring_boot_multitenancy_using_rls.html
RedirectMatch 301 ^/blog/aspnet_core_identity_database/?$ https://www.bytefish.de/blog/aspnet_core_identity_database.html
RedirectMatch 301 ^/blog/sqlquery_with_ef_core/?$ https://www.bytefish.de/blog/sqlquery_with_ef_core.html
RedirectMatch 301 ^/blog/elasticsearch_fulltext_search/?$ https://www.bytefish.de/blog/elasticsearch_fulltext_search.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy_async/?$ https://www.bytefish.de/blog/spring_boot_multitenancy_async.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy/?$ https://www.bytefish.de/blog/spring_boot_multitenancy.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy_configuration/?$ https://www.bytefish.de/blog/spring_boot_multitenancy_configuration.html
RedirectMatch 301 ^/blog/neo4j_dotnet_client/?$ https://www.bytefish.de/blog/neo4j_dotnet_client.html
RedirectMatch 301 ^/blog/covid_19/?$ https://www.bytefish.de/blog/covid_19.html
RedirectMatch 301 ^/blog/composable_surveys_angular_9/?$ https://www.bytefish.de/blog/composable_surveys_angular_9.html
RedirectMatch 301 ^/blog/elsevier_fulltext_api/?$ https://www.bytefish.de/blog/elsevier_fulltext_api.html
RedirectMatch 301 ^/blog/covid_19_excel/?$ https://www.bytefish.de/blog/covid_19_excel.html
RedirectMatch 301 ^/blog/pgbulkinsert_row_writer/?$ https://www.bytefish.de/blog/pgbulkinsert_row_writer.html
RedirectMatch 301 ^/blog/parsing_covid_19_data/?$ https://www.bytefish.de/blog/parsing_covid_19_data.html
RedirectMatch 301 ^/blog/excel_xml_export/?$ https://www.bytefish.de/blog/excel_xml_export.html
RedirectMatch 301 ^/blog/dgraph/?$ https://www.bytefish.de/blog/dgraph.html
RedirectMatch 301 ^/blog/apache_jena/?$ https://www.bytefish.de/blog/apache_jena.html
RedirectMatch 301 ^/blog/family/?$ https://www.bytefish.de/blog/family.html
RedirectMatch 301 ^/blog/tinydgraphclient/?$ https://www.bytefish.de/blog/tinydgraphclient.html
RedirectMatch 301 ^/blog/influxdb_interpolation/?$ https://www.bytefish.de/blog/influxdb_interpolation.html
RedirectMatch 301 ^/blog/postgresql_interpolation/?$ https://www.bytefish.de/blog/postgresql_interpolation.html
RedirectMatch 301 ^/blog/timeseries_databases_5_visualization_with_ggridges/?$ https://www.bytefish.de/blog/timeseries_databases_5_visualization_with_ggridges.html
RedirectMatch 301 ^/blog/timeseries_databases_4_mapping_data/?$ https://www.bytefish.de/blog/timeseries_databases_4_mapping_data.html
RedirectMatch 301 ^/blog/scheduling_with_quartz_net/?$ https://www.bytefish.de/blog/scheduling_with_quartz_net.html
RedirectMatch 301 ^/blog/timeseries_databases_3_timescaledb/?$ https://www.bytefish.de/blog/timeseries_databases_3_timescaledb.html
RedirectMatch 301 ^/blog/timeseries_databases_2_influxdb/?$ https://www.bytefish.de/blog/timeseries_databases_2_influxdb.html
RedirectMatch 301 ^/blog/timeseries_databases_1_dataset/?$ https://www.bytefish.de/blog/timeseries_databases_1_dataset.html
RedirectMatch 301 ^/blog/sql_server_2019_graph_database/?$ https://www.bytefish.de/blog/sql_server_2019_graph_database.html
RedirectMatch 301 ^/blog/modular_ef_core/?$ https://www.bytefish.de/blog/modular_ef_core.html
RedirectMatch 301 ^/blog/fcmsharp_getting_started/?$ https://www.bytefish.de/blog/fcmsharp_getting_started.html
RedirectMatch 301 ^/blog/jsqlserverbulkinsert/?$ https://www.bytefish.de/blog/jsqlserverbulkinsert.html
RedirectMatch 301 ^/blog/creating_google_services_access_tokens/?$ https://www.bytefish.de/blog/creating_google_services_access_tokens.html
RedirectMatch 301 ^/blog/sqlserverbulkinsert/?$ https://www.bytefish.de/blog/sqlserverbulkinsert.html
RedirectMatch 301 ^/blog/sql_server_2017_graph_database/?$ https://www.bytefish.de/blog/sql_server_2017_graph_database.html
RedirectMatch 301 ^/blog/neo4j_at_scale_airline_dataset/?$ https://www.bytefish.de/blog/neo4j_at_scale_airline_dataset.html
RedirectMatch 301 ^/blog/neo4j_dotnet/?$ https://www.bytefish.de/blog/neo4j_dotnet.html
RedirectMatch 301 ^/blog/fcmsharp/?$ https://www.bytefish.de/blog/fcmsharp.html
RedirectMatch 301 ^/blog/removing_disqus/?$ https://www.bytefish.de/blog/removing_disqus.html
RedirectMatch 301 ^/blog/realtime_charts_signalr_chartjs/?$ https://www.bytefish.de/blog/realtime_charts_signalr_chartjs.html
RedirectMatch 301 ^/blog/airline_on_time_performance/?$ https://www.bytefish.de/blog/airline_on_time_performance.html
RedirectMatch 301 ^/blog/choropleth_maps_in_r/?$ https://www.bytefish.de/blog/choropleth_maps_in_r.html
RedirectMatch 301 ^/blog/anomaly_detection_with_r/?$ https://www.bytefish.de/blog/anomaly_detection_with_r.html
RedirectMatch 301 ^/blog/file_upload_api_jersey/?$ https://www.bytefish.de/blog/file_upload_api_jersey.html
RedirectMatch 301 ^/blog/hibernate_envers_versioning_and_auditing/?$ https://www.bytefish.de/blog/hibernate_envers_versioning_and_auditing.html
RedirectMatch 301 ^/blog/spring_boot_multitenancy_jersey/?$ https://www.bytefish.de/blog/spring_boot_multitenancy_jersey.html
RedirectMatch 301 ^/blog/reactive_periodically_emitting_events/?$ https://www.bytefish.de/blog/reactive_periodically_emitting_events.html
RedirectMatch 301 ^/blog/fcmjava/?$ https://www.bytefish.de/blog/fcmjava.html
RedirectMatch 301 ^/blog/github_pages/?$ https://www.bytefish.de/blog/github_pages.html
RedirectMatch 301 ^/blog/migrating_a_library_to_dotnetcore/?$ https://www.bytefish.de/blog/migrating_a_library_to_dotnetcore.html
RedirectMatch 301 ^/blog/net_core_mac_os/?$ https://www.bytefish.de/blog/net_core_mac_os.html
RedirectMatch 301 ^/blog/apache_flink_series_5/?$ https://www.bytefish.de/blog/apache_flink_series_5.html
RedirectMatch 301 ^/blog/apache_flink_series_4/?$ https://www.bytefish.de/blog/apache_flink_series_4.html
RedirectMatch 301 ^/blog/apache_flink_series_3/?$ https://www.bytefish.de/blog/apache_flink_series_3.html
RedirectMatch 301 ^/blog/apache_flink_series_2/?$ https://www.bytefish.de/blog/apache_flink_series_2.html
RedirectMatch 301 ^/blog/apache_flink_series_1/?$ https://www.bytefish.de/blog/apache_flink_series_1.html
RedirectMatch 301 ^/blog/pgbulkinsert_bulkprocessor/?$ https://www.bytefish.de/blog/pgbulkinsert_bulkprocessor.html
RedirectMatch 301 ^/blog/stream_data_processing_flink/?$ https://www.bytefish.de/blog/stream_data_processing_flink.html
RedirectMatch 301 ^/blog/elasticsearch_java/?$ https://www.bytefish.de/blog/elasticsearch_java.html
RedirectMatch 301 ^/blog/elasticsearch_net/?$ https://www.bytefish.de/blog/elasticsearch_net.html
RedirectMatch 301 ^/blog/matcher_spliterator/?$ https://www.bytefish.de/blog/matcher_spliterator.html
RedirectMatch 301 ^/blog/database_access_using_sqlmapper/?$ https://www.bytefish.de/blog/database_access_using_sqlmapper.html
RedirectMatch 301 ^/blog/resultset_spliterator/?$ https://www.bytefish.de/blog/resultset_spliterator.html
RedirectMatch 301 ^/blog/oss_deployment/?$ https://www.bytefish.de/blog/oss_deployment.html
RedirectMatch 301 ^/blog/jtinycsvparser_pgbulkinsert/?$ https://www.bytefish.de/blog/jtinycsvparser_pgbulkinsert.html
RedirectMatch 301 ^/blog/pgbulkinsert/?$ https://www.bytefish.de/blog/pgbulkinsert.html
RedirectMatch 301 ^/blog/jsimplemapper/?$ https://www.bytefish.de/blog/jsimplemapper.html
RedirectMatch 301 ^/blog/mono_ubuntu/?$ https://www.bytefish.de/blog/mono_ubuntu.html
RedirectMatch 301 ^/blog/jdk8_files_lines_parallel_stream/?$ https://www.bytefish.de/blog/jdk8_files_lines_parallel_stream.html
RedirectMatch 301 ^/blog/jtinycsvparser/?$ https://www.bytefish.de/blog/jtinycsvparser.html
RedirectMatch 301 ^/blog/tinycsvparser_documentaion/?$ https://www.bytefish.de/blog/tinycsvparser_documentaion.html
RedirectMatch 301 ^/blog/tinycsvparser_tokenizer/?$ https://www.bytefish.de/blog/tinycsvparser_tokenizer.html
RedirectMatch 301 ^/blog/tinysqlmapper/?$ https://www.bytefish.de/blog/tinysqlmapper.html
RedirectMatch 301 ^/blog/recyclerview_cardview_android/?$ https://www.bytefish.de/blog/recyclerview_cardview_android.html
RedirectMatch 301 ^/blog/restsharp_custom_json_serializer/?$ https://www.bytefish.de/blog/restsharp_custom_json_serializer.html
RedirectMatch 301 ^/blog/expression_trees_csharp/?$ https://www.bytefish.de/blog/expression_trees_csharp.html
RedirectMatch 301 ^/blog/enums_json_net/?$ https://www.bytefish.de/blog/enums_json_net.html
RedirectMatch 301 ^/blog/postgresql_bulk_insert/?$ https://www.bytefish.de/blog/postgresql_bulk_insert.html
RedirectMatch 301 ^/blog/tinycsvparser_postgresql/?$ https://www.bytefish.de/blog/tinycsvparser_postgresql.html
RedirectMatch 301 ^/blog/tinycsvparser_benchmark/?$ https://www.bytefish.de/blog/tinycsvparser_benchmark.html
RedirectMatch 301 ^/blog/fluent_validation/?$ https://www.bytefish.de/blog/fluent_validation.html
RedirectMatch 301 ^/blog/tinycsvparser/?$ https://www.bytefish.de/blog/tinycsvparser.html
RedirectMatch 301 ^/blog/token_authentication_owin_nancy/?$ https://www.bytefish.de/blog/token_authentication_owin_nancy.html
RedirectMatch 301 ^/blog/file_upload_nancy/?$ https://www.bytefish.de/blog/file_upload_nancy.html
RedirectMatch 301 ^/blog/npoco_postgresql/?$ https://www.bytefish.de/blog/npoco_postgresql.html
RedirectMatch 301 ^/blog/consistent_error_handling_with_nancy/?$ https://www.bytefish.de/blog/consistent_error_handling_with_nancy.html
RedirectMatch 301 ^/blog/enum_datacontractjsonserializer/?$ https://www.bytefish.de/blog/enum_datacontractjsonserializer.html
RedirectMatch 301 ^/blog/postgresql_json/?$ https://www.bytefish.de/blog/postgresql_json.html
RedirectMatch 301 ^/blog/first_steps_with_sqlalchemy/?$ https://www.bytefish.de/blog/first_steps_with_sqlalchemy.html
RedirectMatch 301 ^/blog/face_recognition_webservice/?$ https://www.bytefish.de/blog/face_recognition_webservice.html
RedirectMatch 301 ^/blog/face_detection_with_android/?$ https://www.bytefish.de/blog/face_detection_with_android.html
RedirectMatch 301 ^/blog/videofacerec/?$ https://www.bytefish.de/blog/videofacerec.html
RedirectMatch 301 ^/blog/huawei_e352s5/?$ https://www.bytefish.de/blog/huawei_e352s5.html
RedirectMatch 301 ^/blog/website_update/?$ https://www.bytefish.de/blog/website_update.html
RedirectMatch 301 ^/blog/validating_algorithms/?$ https://www.bytefish.de/blog/validating_algorithms.html
RedirectMatch 301 ^/blog/opencv_facerecognizer_documentation/?$ https://www.bytefish.de/blog/opencv_facerecognizer_documentation.html
RedirectMatch 301 ^/blog/fisherfaces/?$ https://www.bytefish.de/blog/fisherfaces.html
RedirectMatch 301 ^/blog/extracting_contours_with_opencv/?$ https://www.bytefish.de/blog/extracting_contours_with_opencv.html
RedirectMatch 301 ^/blog/opencv_visual_studio_and_libfacerec/?$ https://www.bytefish.de/blog/opencv_visual_studio_and_libfacerec.html
RedirectMatch 301 ^/blog/aligning_face_images/?$ https://www.bytefish.de/blog/aligning_face_images.html
RedirectMatch 301 ^/blog/colormaps_in_opencv/?$ https://www.bytefish.de/blog/colormaps_in_opencv.html
RedirectMatch 301 ^/blog/opencv/skin_color_thresholding/?$ https://www.bytefish.de/blog/skin_color_thresholding.html
RedirectMatch 301 ^/blog/fisherfaces_in_opencv/?$ https://www.bytefish.de/blog/fisherfaces_in_opencv.html
RedirectMatch 301 ^/blog/local_binary_patterns/?$ https://www.bytefish.de/blog/local_binary_patterns.html
RedirectMatch 301 ^/blog/opencv/code_snippets/?$ https://www.bytefish.de/blog/code_snippets.html
RedirectMatch 301 ^/blog/face_recognition_with_opencv2/?$ https://www.bytefish.de/blog/face_recognition_with_opencv2.html
RedirectMatch 301 ^/blog/lda_in_opencv/?$ https://www.bytefish.de/blog/lda_in_opencv.html
RedirectMatch 301 ^/blog/numpy_performance/?$ https://www.bytefish.de/blog/numpy_performance.html
RedirectMatch 301 ^/blog/pca_lda_with_gnu_octave/?$ https://www.bytefish.de/blog/pca_lda_with_gnu_octave.html
RedirectMatch 301 ^/blog/using_libsvm/?$ https://www.bytefish.de/blog/using_libsvm.html
RedirectMatch 301 ^/blog/gender_classification/?$ https://www.bytefish.de/blog/gender_classification.html
RedirectMatch 301 ^/blog/eigenfaces/?$ https://www.bytefish.de/blog/eigenfaces.html
RedirectMatch 301 ^/blog/iptables/?$ https://www.bytefish.de/blog/iptables.html
RedirectMatch 301 ^/blog/pca_in_opencv/?$ https://www.bytefish.de/blog/pca_in_opencv.html
RedirectMatch 301 ^/blog/opencv/object_detection/?$ https://www.bytefish.de/blog/object_detection.html
RedirectMatch 301 ^/blog/erlang_autocompletion_in_vim/?$ https://www.bytefish.de/blog/erlang_autocompletion_in_vim.html
RedirectMatch 301 ^/blog/longest_common_subsequence/?$ https://www.bytefish.de/blog/longest_common_subsequence.html
RedirectMatch 301 ^/blog/dynamic_time_warping/?$ https://www.bytefish.de/blog/dynamic_time_warping.html
RedirectMatch 301 ^/blog/how_to_track_your_time/?$ https://www.bytefish.de/blog/how_to_track_your_time.html
RedirectMatch 301 ^/blog/eigenvalues_in_opencv/?$ https://www.bytefish.de/blog/eigenvalues_in_opencv.html
RedirectMatch 301 ^/blog/machine_learning_opencv/?$ https://www.bytefish.de/blog/machine_learning_opencv.html
RedirectMatch 301 ^/blog/erlang/?$ https://www.bytefish.de/blog/erlang.html
RedirectMatch 301 ^/blog/android/?$ https://www.bytefish.de/blog/android.html
RedirectMatch 301 /author/philipp-wagner.html https://www.bytefish.de/author/philipp-wagner.html