## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks
##
## Make sure nobody gets the htaccess files:
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
## Block some servers not identifying themselves, but harvesting
## the page like crazy. Thanks a lot for eating up hundreds of 
## megabytes traffic for a tiny page like mine:
order allow,deny
deny from lstlambert-658-1-263-229.w81-250.abo.wanadoo.fr
allow from all
##
## Set the 404 page:
ErrorDocument 404                   /404.html
##
## We rewrite the URL, so the old /wiki and RSS Feed URLs are located correctly:
RewriteEngine on
RewriteBase /
RewriteRule ^feed.php                               feeds/rss.xml
## Make sure we redirect all HTTP Traffic to HTTPS with a 301 Redirect,
## so Disable the Rewrite for HTTPS and rewrite all other incoming 
## requests:
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]