## You should disable Indexes and MultiViews either here or in the
## global config. Symlinks maybe needed for URL rewriting.
Options -Indexes -MultiViews +FollowSymLinks
##
## Make sure nobody gets the htaccess files:
<Files ~ "^[\._]ht">
    Order allow,deny
    Deny from all
    Satisfy All
</Files>
##
## Set the 404 page:
ErrorDocument 404                   /404.html
##
## We rewrite the URL, so the old /wiki and RSS Feed URLs are located correctly:
RewriteEngine on
RewriteBase /
RewriteRule ^blog/machine_learning_with_opencv      blog/machine_learning_opencv
RewriteRule ^wiki/kpca                              blog/pca_lda_with_gnu_octave
RewriteRule ^wiki/(.*)                              blog/$1  [QSA,L]
RewriteRule ^wiki                                   blog     [QSA,L]
RewriteRule ^feed.php                               feeds/rss.xml
