{% extends "base.html" %}

{% block title %}{{ SITEURL }}/blog{% endblock %}
{% block content_title %}blog{%endblock%}

{% block content %}
  <h1>blog</h1>
  {% for year, date_year in dates | groupby('date.year') | sort(reverse=True) %}
  <h2 class="article-year">{{ date_year[0].date.strftime('%Y') }}</h2>
  <dl>
    {% for article in date_year | sort(attribute='date', reverse=True) %}
    <dt class="article-date">{{ article.date.strftime('%B %d, %Y') }}</dt>
    <dd class="article-title"><a href="/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
  </dl>
  {% endfor %}
{% endblock %}
