<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link href='https://fonts.googleapis.com/css?family=Bitter&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' />
    <link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
{% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
{% endif %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  </head>
  <body>
  <nav class="level">
		<p class="level-item">
			bytefish.de
		</p>
		{% for title, link in SECTIONS %}
		<p class="level-item">
			<a href="{{link}}" class="link is-info">{{title}}</a>
		</p>
		{% endfor %}
	</nav>
  </body>
</html>
