/* minimal.css - A minimalistic style */

* { padding: 0; margin: 0; }

html {
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* General Style */

body {
  font: 100% 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  color: #222;
}

#container {
  width: 875px;
  margin: 0 auto;
}


#links {
  border: 0;
}

/*----------------------------*/
/* Menu                       */
/*----------------------------*/

/*
  All text in the menu should be bold.
*/
#menu {  
  font-weight: bold;
  border-bottom: 1px solid black;
}

/* 
  Defines the colors and text-decoration for the links.
*/
#menu a,
#menu a:visited, 
#menu a:focus {
  color: #777;
  text-decoration: none;
}

#menu a:hover, a:active {
  color: #6499ba;
}

/*
  The sitename should have the same color, regardless
  if it was visited or is hovered.
*/

#menu a.sitename,
#menu a.sitename:active,
#menu a.sitename:hover,
#menu a.sitename:visited  {
  color: #000;
  text-decoration: none;
}

/* 
  If we have a large screen, we want a simple horizontal 
  navigation bar, so the items use display: inline with 
  some padding after each list element.
  
  This is overriden in the media query below, so for small
  screens we make a vertical navigation list out of it.
*/

.footer, .footer-item, .navigation, .navigation-item {
  display: inline;
  color: #638c9c/*__text_alt__*/;
  border: 0;
  margin: 0;
  padding: 0;
}

ul.footer, ul.navigation {
  border: 0;
}

li.footer-item, li.navigation-item:after {
  content: "";
  margin-left: 3px;
}

li.footer-item, li.navigation-item:last-child:after {
  content: "";
}

#links a,  
#links a:visited, 
#links a:active, 
#links a:focus {
  color: #a6a6a6;
  text-decoration: none;
}

#links a:hover {
  color: #6499ba;
}

/*
  The user should know where he is right now, so breadcrumbs
  might be useful, if there will ever be a complex page structure.
*/
.breadcrumbs {
  font-size: 110%;
  color: #002fc8;
  font-weight: bold;
  word-break: break-all;  
}

/*----------------------------*/
/* Comments                   */
/*----------------------------*/

#container .comments {
  background-color: #dee7ec;
  margin-top: 1em;
  padding: 1em;
  clear: both;
}

.main-column {
  clear: both;
  overflow: hidden;
}

.content {
  clear: both;
  overflow: hidden;
}

div.clearer {
  clear: both;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
}

em.u {
  font-style: normal;
  text-decoration: underline;
}

em em.u {
  font-style: italic;
}

/*----------------------------*/
/* Tables                     */
/*----------------------------*/


/* http://blog.apps.npr.org/2014/05/09/responsive-data-tables.html */
table {
    border-collapse: collapse;
    padding: 0;
    margin: 0 0 11px 0;
    width: 100%;
    text-align: center;
}

table th {
    border: 1px solid #8cacbb;
    background-color: #dee7ec;
    vertical-align: bottom;
    padding: 0 10px 10px 10px;
}

table td {
    border: 1px solid #8cacbb;
    vertical-align: top;
    padding: 10px;
    text-align: center;
}

img {
  border: 0;
  max-width: 100%;
}

/*----------------------------*/
/* Paragraphs                 */
/*----------------------------*/


p,
blockquote,
table,
pre {
  margin: 0 0 1.0em 0;
}

hr {
  border: 0px;
  border-top: 1px solid #8cacbb;
  text-align: center;
  height: 0px;
}

/*----------------------------*/
/* Syntax Highlightning       */
/*----------------------------*/

code, pre {
  font-family: Consolas, "Liberation Mono", Menlo, monospace;
  font-weight: inherit;
  color: #333;
  padding: 0.1em 0.3em;
}

code {
  padding: 2px 4px;
  color: #D14;
  background-color: #F7F7F9;
  border: 1px solid #E1E1E8;
  font-size: 0.9375em;
}

pre {
  background: #f8f8f8;
  overflow: auto;
  font-size: 12px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 1em;
  border: 1px dashed #d7d7c8;
}

/*----------------------------*/
/* Images                     */
/*----------------------------*/

img.mediacenter {
  border: 0;
  display: block;
  margin: 0 auto;
}

img.medialeft {
  border: 0 none;
  float: left;
  margin: 0 1.5em 0 0;
}

img.mediaright {
  border: 0 none;
  float: right;
  margin: 0 0 0 1.5em;
}

/*----------------------------*/
/* Links                     */
/*----------------------------*/

a {
  color: #002fc8;
  text-decoration: none;
}

a:visited {
  color: purple;
  text-decoration: none;
}

a:hover,
a:active {
  color: #333;
  text-decoration: underline;
}

/*----------------------------*/
/* Icons                      */
/*----------------------------*/

.mediafile {
  background: transparent url(../images/fileicons/file.png) 0px 1px no-repeat; 
  padding-left: 18px; 
  padding-bottom: 1px;
}

.gz { 
  background-image: url(../images/fileicons/gz.png);
}

/* Link Headlines */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: #333;
  text-decoration: none;
}

/* ------------- Page elements ----------------- */

/* general headline setup */
h1,
h2,
h3,
h4,
h5 {
  color: #333;
  background-color: inherit;
  font-size: 100%;
  font-weight: normal;
  margin-bottom: 1em;
  clear: left;
  border-bottom: 1px solid #8cacbb;
}

/* special headlines */
h1 {font-size: 160%; font-weight: bold;}
h2 {font-size: 150%; font-weight: bold; }
h3 {font-size: 140%; border-bottom: none; font-weight: bold;}
h4 {font-size: 120%; border-bottom: none; font-weight: bold;}
h5 {font-size: 100%; border-bottom: none; font-weight: bold;}

.title { margin-bottom: 0.25em; }

.byline {
  font-size: 80%;
  color: #666;
  margin-bottom: 1em;
}


/* unordered lists */
ul {
  line-height: 1.5em;
  list-style-type: square;
  list-style-image: none;
  margin: 0 0 1em 3.5em;
  color: #333;
}

ul.posts span {
  font-family: Monaco, "Courier New", monospace;
}

/* ordered lists */
ol {
  line-height: 1.5em;
  list-style-image: none;
  margin: 0 0 1em 3.5em;
  color: #333;
}

/* no bottom gap in between and smaller left margin for nested lists */
li ul,
li ol {
  margin: 0 0 0 1.5em;
}

/* the list items overriding the ul/ol definition */
div.page .li {
  color: #000;
  font-weight: normal;
}

ol { list-style-type: decimal; }
ol ol { list-style-type: upper-roman; }
ol ol ol { list-style-type: lower-alpha; }
ol ol ol ol { list-style-type: lower-greek; }

blockquote {
  border-left: 2px solid #8cacbb;
  padding-left: 3px;
}

.entry-meta {
  color: #a6a6a6;
  font-size: 80%;
}

.entry-meta a:hover, .updated a:hover {
  color: #6499ba;
  text-decoration: underline;
}

.entry-meta .published {
  background: transparent url(../images/date.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
  border-bottom: 0;
}

.entry-meta .author {
  background: transparent url(../images/user.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

.entry-meta .tags {
  border-top: 0;
  font-size: 100%;
  float: right;
  clear: none;
}

.entry-meta .tags span {
  background: transparent url(../images/tag.gif) 0px 1px no-repeat;
  padding: 1px 0px 1px 16px;
}

.document-author {
  font-style: italic;
}

@media (min-width: 874px) {
    
  h1, h2, .date {
    font-family: "PT Serif", serif;
  }
  
}

@media only screen and (max-width: 874px) {
 
  #container {
    width: 90%;
    margin: 0 auto;
  }
  
  #menu {
    font-size: 130%;
    border: 0;
  }
  
  #links {
    display: none !important;
  }
  
  .blocklink {
    display: block;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
  }
  
  .footer, .footer-item, .navigation, .navigation-item {
    display: block;
    color: #638c9c;
    margin: 0;
    padding: 0;
    border: 0;
  }
  
  li.footer-item {
    border-top: 1px solid black;
  }
  
  li.navigation-item {
    text-align: center;
    border-bottom: 1px solid black;
  }
      
  li.navigation-item:before {
    content: "";
    margin-left: 0;
  }

  li.navigation-item:after {
    content: "";
    margin-left: 0;
  }
  
  li.navigation-item:last-child:after {
    content: "";
  }
  
  /* http://blog.apps.npr.org/2014/05/09/responsive-data-tables.html */
  table,
  tbody {
    display: block;
    width: 100%;
  }
  
  thead { display: none; }
  
  table tr,
  table th,
  table td {
    display: block;
    padding: 0;
    text-align: left;
    white-space: normal;
  }

  table tr {
    border-bottom: 1px solid #eee;
    padding-bottom: 11px;
    margin-bottom: 11px;
  }
  
  table td {
    border: none;
    margin-bottom: 6px;
  }
  
  table td:empty { display: none; }
   
  table th[data-title]:before,
  table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: bold;
  }
}

@media (min-width: 874px) {
    
  h1, h2 {
    font-family: "PT Serif", serif;
  }
  
}

/* Do not show header/footer for print */
@media only print {
  #comments, #menu, #page-title, #links {
    display: none !important;
  }
}