{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta %}
    {% if article.summary %}
    <meta name="description" content="{{ article.summary|striptags|escape }}" />
    {% endif %}
    {% if article.tags %}
    <meta name="keywords" content="{{ article.tags|join(',')|striptags }}" />
    {% endif %}
{% endblock %}

{% block json_ld %}
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "BlogPosting",
      "headline": "{{ article.title }}",
      "datePublished": "{{ article.date.strftime('%Y-%m-%dT%H:%M:%S%z') }}",
      "author": [{
          "@type": "Person",
          "name": "{{ article.author }}",
          "url": "{{ SITEURL }}/{{article.author.url}}"
        }]
    }
    </script>
{% endblock %}

{% block content_title %}{{ article.url }}{% endblock %}

{% block content %}

<div class="content">
    <header>
        <h1 class="post-title">{{ article.title }}</h1>
    </header>
   {% include 'fragments/post-meta.html' %}
  <div class="post-body">
    {{ article.content }}
  </div>
<!-- Optional footer content -->
<hr>
  <footer>
    <h2>How to contribute</h2>
    <p>One of the easiest ways to contribute is to participate in discussions. You can also contribute by submitting pull requests.</p>
    <h3>General feedback and discussions?</h3>
    <p>Do you have questions or feedback on this article? <a href="{{GITHUB_ISSUE_PATH}}">Please create an issue on the Repositories issue tracker</a>.</p>
    <h3>Something is wrong or missing?</h3>
    <p>There may be something wrong or missing in this article. If you want to help fixing it, then please make a <a href="{{ article.source_path | asGitHubPage }}">Pull Request to this file</a>.</p>
  </footer>
</div>
{% endblock %}