{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content_title %}{{ article.url }}{% endblock %}

{% block content %}
  <header>
    <h1 class="title">{{ article.title }}</h1>
    <p class="byline">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> | {{ article.date.strftime('%B %d, %Y') }}</p>
  </header>
  {% if article.toc %}
    <h2>Table of Contents</h2>
    <nav>
    {{ article.toc }}
    </nav>
  {% endif %}
  <section class="content">
    {{ article.content }}
  </section>
  <footer class="footer">
    <h2>How to contribute</h2>
    <p>One of the easiest ways to contribute is to participate in discussions. You can also contribute by submitting pull requests.</p>
    <h3>General feedback and discussions?</h3>
    <p>Do you have questions or feedback on this article? <a href="{{GITHUB_ISSUE_PATH}}">Please create an issue on the GitHub issue tracker</a>.</p>
    <h3>Something is wrong or missing?</h3>
    <p>There may be something wrong or missing in this article. If you want to help fixing it, then please make a <a href="{{ article.source_path | asGitHubPage }}">Pull Request to this file on GitHub</a>.</p>
  </footer>
{% endblock %}
