{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content_title %}{{ article.url }}{% endblock %}

{% block content %}
  <header>
    <h1 class="title">{{ article.title }}</h1>
    <p class="byline">By <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> | {{ article.date.strftime('%B %d, %Y') }}</p>
  </header>
  {% if article.toc %}
    <h2>Table of Contents</h2>
    <nav>
    {{ article.toc }}
    </nav>
  {% endif %}
  <section class="content">
    {{ article.content }}
  </section>
  <footer class="footer">
    <h2>Contributing</h2>
    <ul> 
        <li>Something is missing? <a href="{{ article.source_path | asGitHubPage }}">Feel free make a Pull Request to this file on GitHub</a>.</li>
        <li>Something is wrong? Questions? <a href="{{GITHUB_ISSUE_PATH}}">Feel free to file an issue on GitHub</a>.</li>
    </ul>
  </footer>
{% endblock %}
