<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{ SITEURL }}/theme/images/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/minimal.css" />
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/pygments.css" />
    <link href="{{ FEED_DOMAIN }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
    {% if FEED_RSS %}
    <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
    {% endif %}
    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  </head>
  <body>
    <div id="container">
      <div id="menu">
        <span class="sitename">bytefish.de</span>
        <ul>
        {% for title, link in SECTIONS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
        </ul>
      </div>
      <div id="page-title">{% block content_title %}{% endblock %}</div>
      <div class="clearer"></div>
      <div id="content">
      {% block content %}{% endblock %}
      </div>
      <div class="clearer"></div>
      <div id="links">
        <ul>
        {% for title, link in LINKS %}
          <li><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
         </ul>
      </div>
    </div>
  </body>
</html>
