<nav id="sidebar-icon-links">

  <a id="github-link"
     class="icon" title="Github Project" aria-label="Github Project"
     href="{{ SOCIAL_GITHUB }}">
    {% include 'fragments/svg/github.svg' %}
  </a>

  <a id ='mastodon-link'
    class="icon" title="Mastodon Profile" aria-label="Mastodon Profile"
    rel="me" href="{{ SOCIAL_MASTODON }}">
    {% include 'fragments/svg/mastodon-logo.svg' %}
  </a>

  <a id="subscribe-link"
     class="icon" title="Subscribe" aria-label="Subscribe"
     href="{{ SITEURL }}/{{ FEED_RSS }}">
    {% include 'fragments/svg/feed.svg' %}
  </a>

  <a id="tags-link"
     class="icon"
     title="Tags" aria-label="Tags"
     href="{{ SITEURL }}/tags.html">
    {% include 'fragments/svg/tags.svg' %}
  </a>

</nav>