// 1. Import the initial variables
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

// Fonts:
$family-serif: Lora, Georgia, serif; 
$family-heading: Bitter, Georgia, serif;
$family-code: Consolas, "Liberation Mono", Menlo, monospace;

// 6. Import the rest of Bulma
@import "bulma/bulma";